{% extends 'layouts/default/page.html' %}

{% load bootstrap4 %}
{% load i18n %}

{% block content %}

    <h4>{% trans 'Create an account' %}</h4>

    <form method="post">

        {% csrf_token %}
        {% bootstrap_form form %}

        <div class="form-group">
            <label for="{{ form.phone_number.id_for_label }}">{{ form.phone_number.label }}</label>
            {% render_field form.phone_number class="form-control" %}
            {% bootstrap_form_errors form.phone_number %}
        </div>

        <button class="btn btn-success">{% trans 'Create' %}</button>

    </form>

{% endblock %}
